@inherits MudTd

<td data-label="@DataLabel" style="@Style" class="@Classname" @attributes="@UserAttributes" @onlongpress="EffectiveOnLongPress" @onlongpress:preventDefault="PreventDefaultOnLongPress" @oncontextmenu="EffectiveOnContextMenu" @oncontextmenu:preventDefault="PreventDefaultOnContextMenu">
    @ChildContent
</td>
