@page "/about"
@layout OtherLayout

<MudToolBar Gutters="false" Dense="true">
    @if (!DrawerOpen)
    {
        <MudIconButton Icon="@Icons.Material.Outlined.NavigateBefore" OnClick="NavigateBack" title="Back to torrent list" />
        <MudDivider Vertical="true" />
    }
    <MudText Class="px-5 no-wrap">About</MudText>
</MudToolBar>

<MudTabs Elevation="2" ApplyEffectsToContainer="true">
    <MudTabPanel Text="About">
        <div class="d-flex gap-4">
            <MudImage Src="images/mascot.png" Alt="Mascot" Class="ma-6" Fluid ObjectFit="ObjectFit.None" ObjectPosition="ObjectPosition.LeftTop" Height="162" Width="94" />
            <MudGrid Class="px-3 pb-3 pt-6">
                <MudItem xs="12">
                    <div class="d-flex gap-3">
                        <MudImage Src="images/qbittorrent32.png" Fluid ObjectFit="ObjectFit.None" Alt="QBT" Height="32" Width="32"  /><MudText Typo="Typo.h6">qBittorrent @QBittorrentVersion</MudText>
                    </div>
                </MudItem>

                <MudItem xs="12">
                    <MudText Typo="Typo.body1">An advanced BitTorrent client programmed in C++, based on Qt toolkit and libtorrent-rasterbar.</MudText>
                </MudItem>

                <MudItem xs="12">
                    <MudText Typo="Typo.body1">Copyright © 2006-2024 The qBittorrent project</MudText>
                </MudItem>

                <MudItem xs="2">
                    <MudText Typo="Typo.body1">Home Page</MudText>
                </MudItem>
                <MudItem xs="10">
                    <MudLink Href="https://www.qbittorrent.org" Target="https://www.qbittorrent.org">https://www.qbittorrent.org</MudLink>
                </MudItem>

                <MudItem xs="2">
                    <MudText Typo="Typo.body1">Bug Tracker</MudText>
                </MudItem>
                <MudItem xs="10">
                    <MudLink Href="https://bugs.qbittorrent.org" Target="https://bugs.qbittorrent.org">https://bugs.qbittorrent.org</MudLink>
                </MudItem>

                <MudItem xs="2">
                    <MudText Typo="Typo.body1">Forum</MudText>
                </MudItem>
                <MudItem xs="10">
                    <MudLink Href="https://forum.qbittorrent.org" Target="https://forum.qbittorrent.org">https://forum.qbittorrent.org</MudLink>
                </MudItem>
            </MudGrid>
        </div>
    </MudTabPanel>
    <MudTabPanel Text="Authors">
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle2">Current maintainer</MudText>
            </MudItem>
            <MudItem xs="2">
                <MudText Typo="Typo.body1">Name</MudText>
            </MudItem>
            <MudItem xs="10">
                <MudText Typo="Typo.body1">Sledgehammer999</MudText>
            </MudItem>
            <MudItem xs="2">
                <MudText Typo="Typo.body1">Nationality</MudText>
            </MudItem>
            <MudItem xs="10">
                <MudText Typo="Typo.body1">Greece</MudText>
            </MudItem>
            <MudItem xs="2">
                <MudText Typo="Typo.body1">E-mail</MudText>
            </MudItem>
            <MudItem xs="10">
                <MudLink Href="mailto:sledgehammer999@qbittorrent.org">sledgehammer999@qbittorrent.org</MudLink>
            </MudItem>

            <MudItem xs="12">
                <MudText Typo="Typo.subtitle2">Original author</MudText>
            </MudItem>
            <MudItem xs="2">
                <MudText Typo="Typo.body1">Name</MudText>
            </MudItem>
            <MudItem xs="10">
                <MudText Typo="Typo.body1">Christophe Dumez</MudText>
            </MudItem>
            <MudItem xs="2">
                <MudText Typo="Typo.body1">Nationality</MudText>
            </MudItem>
            <MudItem xs="10">
                <MudText Typo="Typo.body1">France</MudText>
            </MudItem>
            <MudItem xs="2">
                <MudText Typo="Typo.body1">E-mail</MudText>
            </MudItem>
            <MudItem xs="10">
                <MudLink Href="mailto:chris@qbittorrent.org">chris@qbittorrent.org</MudLink>
            </MudItem>
        </MudGrid>
    </MudTabPanel>
</MudTabs>