@page "/rss"
@layout OtherLayout

<MudToolBar Gutters="false" Dense="true">
    @if (!DrawerOpen)
    {
        <MudIconButton Icon="@Icons.Material.Outlined.NavigateBefore" OnClick="NavigateBack" title="Back to torrent list" />
        <MudDivider Vertical="true" />
    }
    <MudDivider Vertical="true" />
    <MudText Class="pl-5 no-wrap">RSS</MudText>
</MudToolBar>

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="details-tab-contents">
    <p>Coming soon.</p>
</MudContainer>
