.torrent-list-page {
    display: contents;
}

@supports (-webkit-touch-callout: none) {
    .torrent-list-page ::deep .torrent-list .mud-table-container {
        box-sizing: border-box;
        padding-right: 14px;
        padding-right: calc(14px + env(safe-area-inset-right));
    }

    .torrent-list-page ::deep .torrent-list .mud-table-container th:last-child,
    .torrent-list-page ::deep .torrent-list .mud-table-container td:last-child {
        padding-right: 14px;
    }
}
